In [22]:
# import required packages
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [23]:
# Read and store  the data in a DataFrame
data_path ='movie_metadata.csv'
data = pd.read_csv(data_path)
#display top 5 rows
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [24]:
# Display last 5 rows
data.tail()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [25]:
#Display other info on dataset
print(data.shape) # Display no of rows and columns
print(data.size)

(5043, 28)
141204

In [26]:
# Observe the column Names
print(data.columns)

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [27]:
# Display the info
data.info() # includes data type and count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [28]:
data.movie_title.value_counts()

King KongÂ                              3
Victor FrankensteinÂ                    3
HomeÂ                                   3
HalloweenÂ                              3
PanÂ                                    3
Ben-HurÂ                                3
The Fast and the FuriousÂ               3
The TouristÂ                            2
The Lovely BonesÂ                       2
Across the UniverseÂ                    2
Lucky Number SlevinÂ                    2
From HellÂ                              2
FootlooseÂ                              2
The Last House on the LeftÂ             2
The Return of the Living DeadÂ          2
HerculesÂ                               2
RoboCopÂ                                2
CrashÂ                                  2
CinderellaÂ                             2
PreciousÂ                               2
Clash of the TitansÂ                    2
The Day the Earth Stood StillÂ          2
Snakes on a PlaneÂ                      2
The IslandÂ                             2
Day of the DeadÂ                        2
History of the World: Part IÂ           2
The IllusionistÂ                        2
Alice in WonderlandÂ                    2
SyrianaÂ                                2
LolitaÂ                                 2
                                      ..
Love ActuallyÂ                          1
CypherÂ                                 1
The FollowingÂ                          1
The Vatican TapesÂ                      1
High School Musical 3: Senior YearÂ     1
Harsh TimesÂ                            1
Grace of MonacoÂ                        1
Public EnemiesÂ                         1
Oliver!Â                                1
He's Just Not That Into YouÂ            1
Real SteelÂ                             1
Baby BoyÂ                               1
OutbreakÂ                               1
Head Over HeelsÂ                        1
Little White LiesÂ                      1
A View to a KillÂ                       1
The WatcherÂ                            1
Captain PhillipsÂ                       1
Predator 2Â                             1
The Green HornetÂ                       1
Peggy Sue Got MarriedÂ                  1
NoahÂ                                   1
Independence Day: ResurgenceÂ           1
FlickaÂ                                 1
Raise the TitanicÂ                      1
Grudge MatchÂ                           1
The MessengerÂ                          1
Ordinary PeopleÂ                        1
Eastern PromisesÂ                       1
A Serious ManÂ                          1
Name: movie_title, Length: 4917, dtype: int64

In [29]:
print(data.movie_title[0])
print((data.movie_title=='King Kong\xa0').sum())
data[data.movie_title=='King Kong\xa0']

AvatarÂ
3

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
25,Color,Peter Jackson,446.0,201.0,0.0,84.0,Thomas Kretschmann,6000.0,218051260.0,Action|Adventure|Drama|Romance,...,2618.0,English,New Zealand,PG-13,207000000.0,2005.0,919.0,7.2,2.35,0
2049,Color,Peter Jackson,446.0,201.0,0.0,84.0,Thomas Kretschmann,6000.0,218051260.0,Action|Adventure|Drama|Romance,...,2618.0,English,New Zealand,PG-13,207000000.0,2005.0,918.0,7.2,2.35,0
4694,Color,Peter Jackson,446.0,201.0,0.0,84.0,Thomas Kretschmann,6000.0,218051260.0,Action|Adventure|Drama|Romance,...,2618.0,English,New Zealand,PG-13,207000000.0,2005.0,918.0,7.2,2.35,0

In [30]:
# Remove the dupliacte values by using movie name as primary key
data = data.drop_duplicates(subset='movie_title')
data.shape

(4917, 28)

In [31]:
# Check out the NaN or None values count in each column
data.isnull().sum()

color                         19
director_name                102
num_critic_for_reviews        49
duration                      15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        863
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               300
budget                       484
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
dtype: int64

In [32]:
# remove the rows which consists atleast one value as None or NaN
data1 = data.dropna()
data1.shape

(3655, 28)

In [33]:
# remove the columns which consists atlesat one value as None or NaN
data2 = data.dropna(axis=1)
data2.shape

(4917, 7)

In [34]:
# Drop the output column
y= data.imdb_score
data = data.drop('imdb_score',axis = 1)

In [35]:
# Check the datatypes of each column
data.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [36]:
# Extarct numerical column names
numerical = data.columns[data.dtypes==(np.float64 or np.int64)]
numerical

Index(['num_critic_for_reviews', 'duration', 'director_facebook_likes',
       'actor_3_facebook_likes', 'actor_1_facebook_likes', 'gross',
       'facenumber_in_poster', 'num_user_for_reviews', 'budget', 'title_year',
       'actor_2_facebook_likes', 'aspect_ratio'],
      dtype='object')

In [37]:
# Display first 5 rows of the numeriacl data
data[numerical].head()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,aspect_ratio
0,723.0,178.0,0.0,855.0,1000.0,760505847.0,0.0,3054.0,237000000.0,2009.0,936.0,1.78
1,302.0,169.0,563.0,1000.0,40000.0,309404152.0,0.0,1238.0,300000000.0,2007.0,5000.0,2.35
2,602.0,148.0,0.0,161.0,11000.0,200074175.0,1.0,994.0,245000000.0,2015.0,393.0,2.35
3,813.0,164.0,22000.0,23000.0,27000.0,448130642.0,0.0,2701.0,250000000.0,2012.0,23000.0,2.35
4,NaN,NaN,131.0,NaN,131.0,NaN,0.0,NaN,NaN,NaN,12.0,NaN

In [38]:
# Extarct categorical column names and store it in cat variable
cat = data.columns[data.dtypes=='object']
cat

Index(['color', 'director_name', 'actor_2_name', 'genres', 'actor_1_name',
       'movie_title', 'actor_3_name', 'plot_keywords', 'movie_imdb_link',
       'language', 'country', 'content_rating'],
      dtype='object')

In [39]:
#Display top 5 rows of the categorical data
data[cat].head()

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
0,Color,James Cameron,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,Wes Studi,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,PG-13
1,Color,Gore Verbinski,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,Jack Davenport,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,English,USA,PG-13
2,Color,Sam Mendes,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,Stephanie Sigman,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,English,UK,PG-13
3,Color,Christopher Nolan,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,Joseph Gordon-Levitt,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,English,USA,PG-13
4,NaN,Doug Walker,Rob Walker,Documentary,Doug Walker,Star Wars: Episode VII - The Force AwakensÂ ...,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN

In [42]:
# Create a dataframe with only numerical columns
data3 = data[numerical]
# Replace the None or NaN values with mean of columns
for column in numerical:
    data3.loc[:,column] = data3[column].fillna(data3[column].mean())
data3[numerical] =StandardScaler().fit_transform(data3[numerical])
data3.isnull().sum()

C:\Users\krish\Anaconda3\lib\site-packages\pandas\core\indexing.py:630: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value
C:\Users\krish\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\krish\Anaconda3\lib\site-packages\pandas\core\frame.py:3144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.loc._setitem_with_indexer((slice(None), indexer), value)
C:\Users\krish\Anaconda3\lib\site-packages\pandas\core\frame.py:3116: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_array(key, value)

num_critic_for_reviews     0
duration                   0
director_facebook_likes    0
actor_3_facebook_likes     0
actor_1_facebook_likes     0
gross                      0
facenumber_in_poster       0
num_user_for_reviews       0
budget                     0
title_year                 0
actor_2_facebook_likes     0
aspect_ratio               0
dtype: int64

In [43]:
# Create a dataframe with only categorical columns
data5= data[cat]
# Replace the None or NaN values with mean of columns
for column in cat:
    data5.loc[:,column] = data5[column].fillna('Unknown')
data5 = pd.get_dummies(data5)
data5.shape

C:\Users\krish\Anaconda3\lib\site-packages\pandas\core\indexing.py:630: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

(4917, 26687)

In [44]:
#Create a dataframe with both numercal and categorical columns without Nan or None values
data6 = pd.concat([data3,data5],axis=1)
data6.shape

(4917, 26699)

In [45]:
print(data1.shape)
print(data2.shape)
print(data3.shape)
print(data5.shape)
print(data6.shape)
print(y.shape)

(3655, 28)
(4917, 7)
(4917, 12)
(4917, 26687)
(4917, 26699)
(4917,)

In [46]:
y1 = data1.imdb_score
data1.drop('imdb_score',axis=1,inplace=True)
data1=pd.get_dummies(data1)

In [47]:
y2 = data2.imdb_score
data2.drop('imdb_score',axis=1,inplace=True)
data2=pd.get_dummies(data2)

In [48]:
mod = DecisionTreeRegressor()
mod.fit(data1,y1)
print(r2_score(y1,mod.predict(data1)))
print(mean_squared_error(y1,mod.predict(data1)))

1.0
3.129543946841223e-32

In [49]:
mod = KNeighborsRegressor()
mod.fit(data1,y1)
pred = mod.predict(data1)
print(r2_score(y1,pred))
print(mean_squared_error(y1,pred))

0.2905657296743297
0.7936744186046512

In [50]:
mod = DecisionTreeRegressor()
mod.fit(data2,y2)
print(r2_score(y2,mod.predict(data2)))
print(mean_squared_error(y2,mod.predict(data2)))

1.0
1.1070043209324753e-32

In [51]:
mod = KNeighborsRegressor()
mod.fit(data2,y2)
pred = mod.predict(data2)
print(r2_score(y2,pred))
print(mean_squared_error(y2,pred))

0.42417309074299026
0.732186048403498

In [52]:
mod = DecisionTreeRegressor()
mod.fit(data3,y)
print(r2_score(y,mod.predict(data3)))
print(mean_squared_error(y,mod.predict(data3)))

1.0
1.540179924775618e-32

In [53]:
mod = KNeighborsRegressor()
mod.fit(data3,y)
pred = mod.predict(data3)
print(r2_score(y,pred))
print(mean_squared_error(y,pred))

0.5169693900525159
0.6141919869839333

In [54]:
mod = DecisionTreeRegressor()
mod.fit(data5,y)
print(r2_score(y,mod.predict(data5)))
print(mean_squared_error(y,mod.predict(data5)))

1.0
1.0765215932546247e-31

In [ ]:
mod = KNeighborsRegressor()
mod.fit(data5,y)
pred = mod.predict(data5)
print(r2_score(y,pred))
print(mean_squared_error(y,pred))

In [ ]:
mod = DecisionTreeRegressor()
mod.fit(data6,y)
print(r2_score(y,mod.predict(data6)))
print(mean_squared_error(y,mod.predict(data6)))

In [ ]:
mod = KNeighborsRegressor()
mod.fit(data6,y)
pred = mod.predict(data6)
print(r2_score(y,pred))
print(mean_squared_error(y,pred))

In [ ]:
from scipy.stats import skew
skew(data1.actor_1_facebook_likes)